  <div class= "my-title">
    <h2>Mes listes</h2>
  </div>
    <ul><% @lists.each do |list| %></ul>
  <div class="lists-card-index">
    <%= link_to list.name,list_path(list), class:"lists-card-link"%>
  </div>
    <% end %>
