// Define variables for your color scheme

$yellow: #E6C768;
$black: #000000;
$purple: #9378F2;
$white: #FFFFFF;



$gray: gray;
$red: #DE3434;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$black: #000000;
