  <div class= "my-title">
    <h2>Mes rappels</h2>
  </div>
    <ul><% @reminders.each do |reminder| %></ul>
  <div class="reminders-card-index">
    <%= link_to reminder.description,reminder_path(reminder), class:"reminders-card-link"%>
  </div>
    <% end %>
