<div class="container mt-3 mb-3"> <h1>Heureux de vous revoir !</h1> </div>

<div class="container sign-in-container">

  <h2>Connexion</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: 'Email *',
                  required: false,
                  autofocus: true,
                  placeholder: 'john.doe@mail.com',
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password, label: 'Mot de passe *',
                  required: false,
                  placeholder: '*******',
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <input class="btn btn-dark mb-3 fw-bold" type="submit" value="Se connecter" style="border-radius:25px;">
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
