<div class="modal" tabindex="-1" id="listModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer une nouvelle liste </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, label: 'Nom de la liste' %>
          <%= f.select :category, options_for_select(List.categories.map {|key, value| [key.capitalize, key]}), class: 'select-form' %>
      </div>
      <div class="modal-footer">
           <%#= f.button :submit, 'Valider', class: 'validate-button' %>
           <input class="btn btn-dark mb-3 fw-bold" type="submit" value="Valider" style="border-radius:25px; width: 335px">
         <% end %>
      </div>
    </div>
  </div>
</div>
