.list-card-dashboard {
  margin: 5px;
  padding: 10px;
  color: $black;
  font-weight: 600;
  text-decoration: none;
  font-size: 28px;
  background-color: $yellow;
  border-radius: 25px;
  height: 185px;
  width: 185px;
  background-size: 140px;
  background-position: 40px 50px;
  background-repeat: no-repeat;
  display: flex;
}

.voir-plus-lists {
    a{
   color: $white;
  }
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 80px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
  width: 185px;
}

.voir-plus-reminders {
  a{
   color: $white;
  }
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 48px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
  width: 155px;
}

.lists-card-index {
  margin: 5px;
  padding: 20px;
  padding-left: 30px;
  color: $black;
  font-weight: 600;
  font-size: 20px;
  background-color: $yellow;
  border-radius: 25px;
  height: 70px;
  width: 380px;
  list-style: none;
}

.lists-card-link {
  text-decoration: none;
  color: $black;
}
