.list-card-product {
  h2 {
    margin-bottom: 15px;
  }
  background-color: $yellow;
  color: $black;
  display: flex;
  margin-top: 20px;
  color: $black;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
  background-size: 140px;
  background-position: 218px 58px;
  background-repeat: no-repeat;
}

.form-check-input.is-valid ~ .form-check-label {
  color : $black;
}

.form-check-input:checked {
    background-color: $black;
    border-color: $black;
}

.form-check-input {
  --bs-form-check-bg: $white;
  border-color: $black;
}

.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: $black;
}

.fa-pen {
  font-size: 15px;
}

.button-validate {
  background-color: transparent;
  border: none;
}

.list-name-input {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 0.7rem;
  width: 150px;
  font-size: calc(1.325rem + 0.9vw);
  font-weight: bold;
  text-align: center;
}

.add-task-input {
  border-radius: 0.25rem;
  border: none;
  margin-left: 35px;
  margin-top: 9px;
}
