.reminders-card-index {
  a{
    color: $white;
   }
  margin: 8px;
  padding: 20px;
  padding-left: 30px;
  // color: $black;
  font-weight: 600;
  font-size: 20px;
  background-color: $purple;
  border-radius: 25px;
  height: 70px;
  width: 380px;
  list-style: none;
}

.reminder-card-dashboard {
  margin: 5px;
  // padding: 10px;
  h5 {
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  p {
    padding-left: 10px;
    font-weight: 500;
    margin-top: -4px;
    font-size: 18px;
  }
  color: $white;
  font-weight: 600;
  font-size: 20px;
  background-color: $purple;
  border-radius: 25px;
  height: 70px;
  width: 380px;
}

.reminders-card-link {
  text-decoration: none;
  color: $black;
}

.calendar-header {
  background-color: $white;
  color: $purple;
  width: 70px;
  border-top-left-radius: 25px;
  // border-top-right-radius: 12px;
  // padding: 5px 0;
}

.month {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
}

.calendar-body {
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: left;
  color: $white;
}

.date {
  font-size: 28px;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 8px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Espacement entre les cartes */
  justify-content: center;
  padding: 10px;
}

.reminder-button {
  border: 1px solid #ccc;
  border-radius: 30px;
  line-height: 1em;
  padding: 1em 1em;
  padding-left: 5em;
}

.trash-btn:hover {
  transform: translateY(-3px);
}

