.reminder-create {
  background-color: $purple;
  margin-top: 15px;
  border-radius: 25px;
  .form-control {
    color: $black;
    &:focus {
      background-color: $white;
    }
  }
  ::placeholder {
    color: black;
  }
}

.title-reminder {
  font-family: $body-font;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
