<p>Bonjour <%= @resource.email %>!</p>

<p>Vous trouverez ci-dessous un lien pour modifier votre mot de passe.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.</p>
<p>Votre mot de passe ne sera modifié que lorsque vous aurez cliqué sur le lien ci-dessous et que vous en aurez créé un nouveau.</p>
